#backpack-items {
    display: flex;
    flex-wrap: wrap;
}

.backpack-slot {
    width: 75px;
    height: 75px;
    background-color: #ebdede;
    border: 3px solid #97b5de;
    margin: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
