body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}

#menu {
  grid-column: 1 / 4;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#left {
  grid-column: 1 / 2;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 0;
  width: 95%;
}

  #center {
    grid-column: 2 / 3;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    height: 95%;
    width: 95%;
  }

  #right {
    grid-column: 3 / 4;
    display: flex;
    align-items: right;
    flex-direction: column;
    margin-top: 20px;
    height: 95%;
    width: 95%;
  }

  #leftMenu {
    justify-self: start;
  }
  
  #centerMenu {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #rightMenu {
    justify-self: end;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #superior h2 {
    font-size: 24px;
    margin: 0;
  }
  
  #logFoldableContainer {
    width: 100%;
  }
  
  #log {
    display: flex;
    font-size: 10px;
    color: #000000;
    width: 100%;
    height: 300px;
    overflow: auto;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  #log::-webkit-scrollbar {
    display: none;
  }
  
  #statsButton {
    margin-bottom: 10px;
  }
  
  .foldable {
    cursor: pointer;
  }
  
  #rightFoldableContainer1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    min-height: 10%;
    width: 95%;
  }  

  #rightFoldableContainer2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    min-height: 10%;
    width: 95%;
  }  

  #leftFoldableContainer {
    display: flex;
    flex-direction: column;
    min-height: 10%;
    width: 100%;
  }
  
  #leftFoldableContainer2 {
    display: flex;
    flex-direction: column;
    min-height: 10%;
    width: 100%;
  }
  
  
  #dead {
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    color: #000000;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .button-container {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }  

  #save {
    margin-right: 10px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    background-color: #fff;
  }
  
  .button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  
  /* Set the button style */
  #restoreHealthButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #9b2c2c; /* Change the background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
  
  #restoreHealthButton:hover {
    background-color: #7b0f0f; /* Change the hover background color */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  }
  
  
  /* Set the button style */
  #hardRestoreHealthButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 24px;
    background-color: #9b2c2c; /* Change the background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    animation: fade 5s;
  }
  
  #hardRestoreHealthButton:hover {
    background-color: #7b0f0f; /* Change the hover background color */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  }
  
  /* Set the text style */
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  /* Set the span style */
  span {
    font-weight: bold;
  }
  
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    animation: fade 3s;
  }
  
  #buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .deadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  fieldset {
    width: 95%;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  legend {
    text-align: center;
  }
  
  li {
    list-style-type: none;
    padding: 0;
  }

  .progress-red {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid rgb(0, 0, 0);
    overflow: hidden;
    position: relative;
  }
  
  .swordProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .crossBowProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .wandProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .bowProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .axeProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .rodProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .shieldingProgressBar span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }

  .progress-red span {
    background-color: red;
  }