.inventory {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.slot {
  width: 75px;
  height: 75px;
  background-color: #ebdede;
  border: 3px solid #97b5de;
  border-radius: 5px;
  margin-top: 10px;
}

.default-image {
  width: 75px;
  height: 75px;
  /* Add any additional styling as needed */
}
