  #healthBarContainer {
    border: 2px solid #000;
    border-radius: 5px;
    width: 80%;
    background-color: #d1bebe;
  }

  /* Set the health bar style */
  #healthBar {
    width: 80%;
    height: 20px;
    background-color: #f2f2f2;
    overflow: hidden;
    grid-column: 1 / span 3;
  }
  
  #health {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Set the image size and margin */
  #monster {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
  }