#healthBarContainer {
  position: relative;
  width: 80%;
  height: 30px;
  background-color: #f2f2f2;
  overflow: hidden;
  grid-column: 1 / span 3;
  margin-top: 20px;
}

.player-health {
  height: 100%;
  background-color: #accc2e;
  border-radius: 3px;
  transition: width 0.5s ease-in-out;
}

#playerHealth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(6, 6, 6);
  font-size: 16px;
  font-weight: bold;
}

  /* Set the image size and margin */
#playerImage {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 5px;
    grid-column: 1 / span 2;
    margin-bottom: 10px;
  }
  
  /* Set the image size and margin */
  #playerDeadImage {
    width: 500px;
    height: 500px;
    grid-column: 1 / span 2;
    margin-top: 10px;
    display: none;
    border-radius: 5px;
  }

  #experienceBarContainer {
    border: 2px solid #000;
    border-radius: 5px;
    width: 80%;
    height: 20px;
    background-color: #d1bebe;
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  #experienceBar {
    width: 80%;
    height: 100%;
    background-color: #3d84e8;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
  
  #experience {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  
  .player-experience {
    height: 100%;
    background-color: #2ecc71;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
  }  

  #game-container2 {
    position: relative;
  }