body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  background: #34363e;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #fbeee0;
  text-shadow: 2px 2px #422800;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  color: #fbeee0;
  text-shadow: 2px 2px #422800;
  font-weight: bold;
}

.shop-stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.shop-stats-item legend {
  margin-bottom: 10px;
}

.shop-items-item legend {
  margin-bottom: 10px;
}

.shop-items-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}