body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 10px;
  background-image: linear-gradient(to bottom, #93E8F1, #FFFFFF);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
}

/* Set the game title style */
h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  color: #ffd700; /* gold color */
  text-shadow: 2px 2px #8b0000; /* red shadow */
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  color: #ffd700;
  text-shadow: 1px 1px #8b0000;
  font-weight: bold;
}